

@font-face {
    font-family: 'IBM_plex';
    src: url(../fonts/IBM_plex/IBMPlexSans-Regular.ttf);
    font-weight: 400;
  }
  
  
  @font-face {
    font-family: 'IBM_plex';
    src: url(../fonts/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'IBM_plex';
    src: url(../fonts/IBM_plex/IBMPlexSans-Bold.ttf);
    font-weight: 700;
  }

//FUTURA-PT//
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrillicBold.ttf);

  }
  @font-face {
    font-family: 'Futura';
    src: url(..fonts/Futura/FuturaCyrillicBook.ttf);
    
  }
  
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrillicDemi.ttf);

  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrilllicExtraBold.ttf);
  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrillicHeavy.ttf);

  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrillicLight.ttf);

  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura/FuturaCyrillicMedium.ttf);

  }
  
  //INTER//
  @font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/Inter_18pt-Bold.ttf);
    font-weight: 700;
  }
  
