.icon-google-plus {
    background-image: url("../icons/icon3.png");
}

.icon-discord {
    background-image: url("../icons/icon4.png");
}

.icon-youtube {
    background-image: url("../icons/icon5.png");
}

.icon-twitter {
    background-image: url("../icons/icon6.png");
}

.icon-instagram {
    background-image: url("../icons/icon7.png");
}