// FONT FAMILIES
$font_IBM_plex: 'IBM_plex', sans-serif;
$font_Futura: 'Futura', sans-serif;
$font_inter: 'inter', sans-serif;
// FONT FAMILIES

.h1,
h1 {
  font-family: $font_Futura;
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 44px;
  color: $white;

  @include tablet {
    font-size: 44px;
    line-height: 60px;
  }

  @include desktop {
    font-size: 56px;
    line-height: 75px;
  }

}

.h2,
h2 {
  font-family: $font_Futura;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  color: $dark-gray;

  @include tablet {
    font-size: 34px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 60px;
  }
}

.h3,
h3 {
  font-family: $font_Futura;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  color: $dark-gray;
}

.h4,
h4 {
  font-family: $font_Futura;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: $dark-gray;
}

.h5,
h5 {
  font-family: $font_Futura;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: $dark-gray;

  @include tablet {
    font-size: 22px;
    line-height: 30px;
  }

  @include desktop {
    font-size: 24px;
    line-height: 32px;
  }
}

.h6,
h6 {
  font-family: $font_Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  color: $white;

  @include tablet {
    font-size: 18px;
    line-height: 26px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 27px;
  }
}

.body1 {
  font-family: $font_Futura;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include tablet {
    font-size: 16px;
    line-height: 26px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }
}

.body2 {
  font-family: $font_Futura;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $white;

  @include tablet {
    line-height: 24px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 26px;
  }
}

.body3 {
  font-family: $font_Futura;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $dark-gray;
}

.body4 {
  font-family: $font_Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  color: $dark-gray;
}

.body5 {
  font-family: $font_inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  color: $primary-purple;

  @include tablet {
    font-size: 50px;
    line-height: 65px;
  }

  @include desktop {
    font-size: 70px;
    line-height: 75px;
  }
}


.primary-button {
  font-family: $font_Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $white;

  @include tablet {
    font-size: 18px;
    line-height: 26px
  }

  @include desktop {
    font-size: 20px;
    line-height: 27px;
  }
}



// .overlay {
//   background: var(--COLORS-2-G1, linear-gradient(180deg, #3D788A 0%, rgba(115, 115, 115, 0.00) 100%));
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
// }