// COLORS
$white: #fff;
$dark-gray: #3A3A3A;
$primary-pink: #EE4F7E;
$primary-purple: #4C469C;
$black: #000;
$red: #FF0000;
$creamy-white:#F8F6F6;

$space-0: 0px;
$space-2: 2px;
$space-3: 3px;
$space-5: 5px;
$space-7: 7px;
$space-9: 9px;
$space-10: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-20: 20px;
$space-23: 23px;
$space-24: 24px;
$space-25: 25px;
$space-28: 28px;
$space-29: 29px;
$space-30: 30px;
$space-31: 31px;
$space-35: 35px;
$space-37: 37px;
$space-40: 40px;
$space-42: 42px;
$space-50: 50px;
$space-55: 55px;
$space-57: 57px;
$space-60: 60px;
$space-62: 62px;
$space-66: 66px;
$space-82: 82px;
$space-90: 90px;
$space-100: 100px;
$space-103: 103px;
$space-110: 110px;
$space-205: 205px;


