.banner-wrapper {
    position: relative;

    .image-wrapper {
        img {
            width: 100%;
            height: 229px;
            object-fit: cover;

            @include desktop {
                height: 460px;
            }
        }
    }

    .text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: $white;
        }
    }
}


#block-views-block-profile-block-1 {
    @extend .container;
    margin-block: $space-60;

    @include tablet {
        margin-block: $space-100;
    }

    @include desktop {
        margin-block: $space-110;
    }

    .founder-wrapper {
        display: flex;
        flex-direction: column;
        gap: $space-20;

        @include tablet {
            flex-direction: row;
        }

        header {
            flex: 2;

            @include desktop {
                padding-block: $space-55;
            }

            p {
                @extend .body1;
                color: $dark-gray;
                margin-top: $space-15;
            }
        }

        .views-row {
            flex: 1;

            .profile-content {
                .profile-image {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 228px;
                        object-fit: cover;
                        border-radius: $space-10;

                        @include tablet {}

                        height: 323px;

                        @include desktop {
                            height: 392px;
                        }
                    }
                }

                .profile-details {
                    padding-inline: $space-60;
                    text-align: center;

                    @include tablet {
                        padding-inline: $space-42;
                    }

                    @include desktop {
                        padding-inline: $space-100;
                    }

                    .profile-title {
                        padding-block: $space-10 $space-5;
                        white-space: nowrap;

                        a {
                            @extend .h3;
                            text-decoration: none;
                        }
                    }

                    .profile-info {
                        padding-top: $space-10;

                        p {
                            @extend .body2;
                            color: $dark-gray;
                        }
                    }
                }
            }
        }
    }
}

.paragraph--type--text-with-image {
    @extend .container;

    .image-with-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-29;

        @include tablet {
            flex-direction: row;
        }

        .image {
            flex: 1;

            img {
                width: 100%;
                height: 405px;
                object-fit: cover;
                border-radius: $space-10;


            }
        }

        .description {
            flex: 1;

            P {
                @extend .body1;
                color: $dark-gray;
                padding-block: $space-15 $space-10;
            }

            ul {
                @extend .body1;
                color: $primary-purple;
                padding-left: $space-20;

                li {}
            }
        }
    }
}

#block-views-block-duplicate-of-profile-block-1 {
  @extend .container;
  margin-block: $space-110;

  header {
    margin-bottom: $space-55;
    h2 {
         text-align: center; 
    }
  }

  .main-wrapper {
    position: relative;

    .profile-img-wrapper img {
      height: 361px;
      object-fit: cover;
      width: 100%;
      display: block;
      border-radius: 10px;
    }

    .profile-description {
      position: absolute;
      top: 70%;
      left: 5%;
      .profile-title a {
        text-decoration: none;
        @extend .h4;
        color: $white;
      }
      .profile-designation { 
        @extend .h6;
     }
    }
  }

  
  .slick-slide {
    margin: 0 10px;
  }

  .slick-next::before,
  .slick-prev::before {
    color: $dark-gray;
   
}
@media (max-width: 768px) {
    .slick-next {
        top: 108% !important;
        right: 40% !important;
    }
}
.slick-next::before {
    content: '';
    background-image: url('../icons/social-icons/rounded/fluent_ios-arrow-24-filled.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: block;
}
@media (max-width: 768px) {
    .slick-prev {
        top: 108% !important;
        left: 40% !important;
    }
}
.slick-prev::before {
    content: '';
    background-image: url('../icons/social-icons/rounded/fluent_ios-arrow-24-filled (1).svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: block;
    
}
}
