.feature-section {
    @extend .container;
    display: flex;
    flex-direction: column;
    gap: $space-50;
    margin-block: $space-110;
    @include tablet{
        gap: $space-100;
    }
    @include desktop {
        flex-direction: row;
        gap: $space-28;
    }


    .left-section {
        flex: 1;

        .large-image {

            width: 100%;
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 148px;
                object-fit: cover;
                @include tablet{
                    height: 307px;
                }
                @include desktop{
                    height: 398px;
                }
            }


            .small-image {
                width: 198px;
                height: 125px;
                position: absolute;
                top: 50%;
                justify-self:center;
                border: 10px solid $white;
                background: $white;
                @include tablet{
                    width: 407px;
                    height: 240px;
                }
                @include desktop{
                    width: 400px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }
    }

    .right-section {
        flex: 1;

        p {
            @extend .h6;
            color: $dark-gray;
            padding-block: $space-10;
        }

        ul {
            padding-left: $space-25;

            li {
                color: $dark-gray;
                @extend .h6;
                padding-block: $space-5;

                span {
                    color: $primary-pink;
                }

                &::marker {
                    color: $primary-pink;
                }
            }
        }

        .counter-wrapper {
            display: flex;
            margin-block: $space-20 $space-35;
            justify-content: space-between;
            text-align: center;

            .paragraph--type--stats {
                flex: 1;
                position: relative;
                padding-inline: $space-20;


                &:not(:last-child)::after {
                    content: "";
                    position: absolute;
                    top: 20%;
                    right: 0;
                    width: $space-2;
                    height: 80%;
                    background: linear-gradient(to bottom, transparent, #ee4f7e, transparent);
                }

                .counter-num {
                    .number {
                        @extend .h1;
                        color: $primary-purple;
                    }

                    .label {
                        @extend .h5;
                        color: $primary-purple;
                    }
                }
            }
        }


        .cta-links {
            background: $primary-purple;
            padding-block: $space-10;
            text-align: center;
            border-radius: $space-10;

            a {
                @extend .h6;
                text-decoration: none;
            }
        }
    }

}