.hero-wrapper {
    position: relative;


    .hero-image {
        height: 100%;

        img {
            width: 100%;
            height: 632px;
            object-fit: cover;

            @include tablet {
                height: 800px;
            }
        }

    }

    .body-main-wrapper {
        @extend .container;
        position: absolute;
        top: 10%;
        right: 0;
        left: 0;

        .hero-content {
            width: 100%;
            padding: $space-50 $space-10 $space-0 $space-10;
            background: linear-gradient(194deg, rgba(238, 79, 126, 0.05) 8.42%, rgba(255, 255, 255, 0.05) 99.94%);
            stroke-width: 1px;
            stroke: $white;
            box-shadow: $space-0 $space-2 $space-10 $space-0 $white inset;
            backdrop-filter: blur($space-10);
            border-radius: $space-20;

            @include tablet {
                top: 10%;
                padding: 100px 50px 50px 50px;
                border-radius: $space-25;
            }

            @include desktop {
                border-radius: $space-30;
            }

            .above-content {
                display: flex;
                justify-content: space-between;

                .paragraph--type--hero-left-section {
                    flex: 3;

                    .hero-left-wrapper {
                        .hero-left-text {
                            p {
                                @extend .body1;
                                color: $black;

                                span {
                                    color: $primary-purple;
                                }
                            }

                            h2 {
                                @extend .body5;
                            }

                            h6 {
                                @extend .body1;
                                margin-block: $space-5 $space-20;
                            }
                        }

                        .hero-left-links {
                            display: flex;
                            flex-direction: column;
                            gap: $space-20;

                            @include tablet {
                                flex-direction: row
                            }

                            a {
                                @extend .primary-button;
                                text-decoration: none;
                                background-color: $primary-purple;
                                padding: $space-10 $space-50;
                                border-radius: $space-5;
                                display: inline-block;
                                transition: all 0.3s ease;


                                &:hover {
                                    transform: scale(1.08);
                                    background-color: $primary-pink;
                                    box-shadow: 0 $space-20 $space-20 rgba(0, 0, 0, 0.3);

                                }
                            }
                        }

                    }
                }


                .right-wrapper {
                    flex: 1;

                    display: none;

                    @include tablet {
                        display: block;
                        width: 237px !important;
                    }

                    .product-image {

                        img {

                            height: 300px;
                            object-fit: cover;


                        }
                    }

                    .description {

                        h5 {
                            @extend .h6;
                            margin-block: $space-10 $space-5;
                        }

                        p {
                            @extend .body2;
                            margin-bottom: $space-5;
                        }

                        .price {
                            display: flex;
                            gap: $space-12;

                            h6 {
                                @extend .body2;
                            }

                            .old-price {
                                position: relative;
                                display: inline-block;
                                color: $red;

                                h6 {
                                    color: $red;
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: linear-gradient(to bottom right, transparent 49%, $red 49%, $red 51%, transparent 51%);
                                    pointer-events: none;
                                }
                            }

                        }
                    }
                    .version-1{
                        button{
                        display: none !important;
                    }
                    }

                    

                }
            }



            .social-links {
                justify-self: center;
                margin-block: $space-20;



                @include tablet {
                    margin-block: $space-7;
                }

                .social-media-links--platforms {
                    display: flex;
                    gap: $space-20;

                    a {

                        span {

                            &::before {
                                color: $white;
                            }

                            &:hover::before {
                                color: $primary-pink;
                            }
                        }
                    }
                }

            }


        }
    }
}



.latest-product-wrapper {
    margin-block: $space-100;

    header {
        grid-column: 1/-1;
        text-align: center;

        p {
            @extend .body2;
            color: $dark-gray;
            margin-block: $space-10 $space-50;
        }
    }

    .products-items {
        grid-column: span 4;
        position: relative;
        overflow: hidden;
        border-radius: $space-10;
        cursor: pointer;
        display: flex;
        align-items: center;

        @include desktop {
            grid-column: span 6;
        }

        .product-image {
            width: 100%;
            height: 100%;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform 0.5s ease-in-out;
            }

            &:hover img {
                transform: scale(0.9);

            }
        }

        .description {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(76, 70, 156, 0.70) 100%);
            color: $white;
            padding: $space-20;
            transition: bottom 0.5s ease;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h5 {
                margin: 0 0 $space-10;
                @extend .h6;
            }

            p {
                @extend .body2;
            }

            .price {
                display: flex;
                align-items: center;
                gap: $space-10;

                h6 {
                    margin: 0;
                }

                .old-price {
                    position: relative;
                    display: inline-block;
                    color: $red;

                    h6 {
                        color: $red;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom right, transparent 49%, $red 49%, $red 51%, transparent 51%);
                        pointer-events: none;
                    }
                }
            }
        }

        &:hover {
            .description {
                bottom: 0;
            }


        }
    }
}

#page {
    position: relative;

    .header-on-front-page {
        @extend .container;
        position: absolute;
        top: 1.7%;
        z-index: 1;
        right: 0;
        left: 0;

        .header {
          background-color: rgba(72, 106, 162, 0.5);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 30px 30px 0 0;
            padding-inline: 113px;
           

            .region--menubar {
                
                #block-sass-theme-msd-leftmenu {
                    >ul {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }

            .region--primary-menu {
                #block-sass-theme-msd-rightmenu {
                    >ul {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    @extend .body2;
                }
            }
        }
    }

}