.carosel-wrapper{
    @extend .container;
    .carosel-main-wrapper{
        position: relative;
        padding-top: $space-110;
        .image-wrapper{
            img{
                 width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: $space-10;
            }
        }
        .detail {
            position: absolute;
            bottom: 10%;
            left: 10%;
           

            span {
                @extend .h4;
                color: $white;
            }
        }
    }
    .slick-prev,
    .slick-next {
        z-index: 10;

        &::before {
            content: "";
            background: $white url('../icons/arrow-icon.svg') no-repeat center;
            background-size: 14px 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slick-prev {
        left: 5% !important;

        &::before {
            transform: rotate(180deg);
        }
    }

    .slick-next {
        right: 5% !important;
    }
}

.description{
    @extend .container;
    padding-block: $space-35 $space-110;
    .date{
        time{
            @extend .h4;
            color: $dark-gray;
        }
        h2{
            color:$primary-purple;
        }
        p{
            color: $dark-gray;
            @extend .body2;
        }
    }
}




// #block-sass-theme-msd-views-block-project-listing-block-1,#block-views-block-project-listing-block-1 {
//     margin-block:$space-110;
//   .views-row {
//     grid-column: span 4;

//     .project-view-wrapper {
//       position: relative;
//       overflow: hidden; // important

//       .image-wrapper {
//         img {
//           height: 267px;
//           width: 100%;
//           object-fit: cover;
//           border-radius: $space-5;
//         }
//       }
//       .detail {
//         position: absolute;
//         top: 60%;         
//         left: 50%;
//         transform: translate(-50%, 40%); 
//         opacity: 0;
//         text-align: center;
//         transition: all 0.4s ease;
//         width: 100%;
//       }

//       .detail a {
//         text-decoration: none;
//         @extend .h3;
//         color: $white;
//         position: relative;
//         display: inline-block;
//         padding-top: $space-40;
//       }

//       .detail a::before {
//         content: "";
//         width: $space-50;
//         height: $space-50;
//         background-image: url('../icons/carbon_view-filled.svg');
//         background-size: contain;
//         background-repeat: no-repeat;
//         position: absolute;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         opacity: 0;
//         transition: opacity 0.4s ease;
//       }

     
//       &:hover .detail {
//         opacity: 1;
//         transform: translate(-50%, -50%); 
//       }

//       &:hover .detail a::before {
//         opacity: 1; 
//       }
//     }
//   }
// }

