.carosel-wrapper {
    position: relative;

    .detail {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 56%;
        left: 15%;
        span{
            @extend .h4;
            color: $white;
          
        }
    }
    .description{
        @extend .container;
        padding-top:$space-35;
        .date{
            time{
            @extend .h6;
            color:$dark-gray;
            margin-bottom: $space-20;
            }
            }
            h2{
             color: $primary-purple;
            }
            P{
                @extend .body2;
                color:$dark-gray;
            }
        
    }
}

.paragraph--type--carousel-wrapper {
    @extend .container;

    .project-main-wrapper {
        position: relative;
        padding-top: $space-110;

        .image-wrapper {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: $space-10;
            }
        }

        .detail {
            position: absolute;
            bottom: 25%;
            left: 10%;

            time {
                @extend .h6;
                color: $white;
            }
        }

    }


    .slick-prev,
    .slick-next {
        z-index: 10;

        &::before {
            content: "";
            background: $white url('../icons/arrow-icon.svg') no-repeat center;
            background-size: 14px 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slick-prev {
        left: 5% !important;

        &::before {
            transform: rotate(180deg);
        }
    }

    .slick-next {
        right: 5% !important;
    }

}


#block-sass-theme-msd-views-block-project-listing-block-1,#block-views-block-project-listing-block-1 {
    margin-block:$space-110;
  .views-row {
    grid-column: span 4;

    .project-view-wrapper {
      position: relative;
      overflow: hidden; // important

      .image-wrapper {
        img {
          height: 267px;
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .detail {
        position: absolute;
        top: 60%;         
        left: 50%;
        transform: translate(-50%, 40%); 
        opacity: 0;
        text-align: center;
        transition: all 0.4s ease;
        width: 100%;
      }

      .detail a {
        text-decoration: none;
        @extend .h3;
        color: $white;
        position: relative;
        display: inline-block;
        padding-top: 40px;
      }

      .detail a::before {
        content: "";
        width: 50px;
        height: 50px;
        background-image: url('../icons/carbon_view-filled.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.4s ease;
      }

     
      &:hover .detail {
        opacity: 1;
        transform: translate(-50%, -50%); 
      }

      &:hover .detail a::before {
        opacity: 1; 
      }
    }
  }
}

